<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="true"
        internalLogLevel="Off"
        internalLogFile="nlog-internal.log">
    <extensions>
      <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>
    <targets>
      <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
        <target xsi:type="ElasticSearch" layout="${machinename}" index="testapp-log-${date:format=yyyy.MM.dd}" includeAllProperties="true">
          <field name="AppEvent" layoutType="System.Object" layout="${message}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="elastic" />
    </rules>
  </nlog>
</configuration>